<!doctype html>
<html ng-app="app1">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no" >
<meta name="author" content="Sang">
	
<title>Module 1 Assignment</title>
</head>

<body>
	<div>
		<input type="text" ng-model="content1" /> <br> <br>
		<button ng-click="clickedFunc();">Check If Too Much</button>
	</div>
	
	<div>
		{{ QuantityScale }}
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>
