<!doctype html>
<html ng-app="LunchCheck" lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" >
	
<meta name="author" content="Sang">
<link rel="stylesheet" href="styles/bootstrap.min.css">
<title>Lunch Checker</title>
</head>

<body>
	<div class="container" ng-controller="LunchCheckController">
	  <h1>Lunch Checker</h1>
	 
	
		<div class="form-group">
			<input id="lunch-menu" ng-model="content1" type="text" placeholder="list comma separated dishes you usually have for lunch" class="form-control">

		</div>
		<div class="form-group">
		  <button class="btn btn-default" ng-click="clickedFunc();">Check If Too Much</button>
		</div>
		<div class="form-group message">
			{{ QuantityScale }}
		</div>
	
	</div>
	 
 
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>
